<% provide(:title, "日報登録") %>

<h1 class="main-title text-white">Web日報登録</h1>
<%= form_with class: "border rounded bg-white form-user-list" do |f| %>
  <h2 class="h3 my-3">社員一覧</h2>

  <table class="table table-bordered">
    <thead>
      <tr class="bg-light">
        <th scope="col">社員番号</th>
        <th scope="col">社員名</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          <%= link_to "ダミー", admin_works_index_path %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>