<% provide(:title, "管理者一覧") %>

<h1 class="main-title text-white">Web日報登録</h1>
<div class="border rounded bg-white form-user-list">
  <h2 class="h3 my-3">管理者一覧</h2>
  <table class="table table-bordered">
    <thead>
      <tr class="bg-light">
        <th scope="col">社員番号</th>
        <th scope="col">社員名</th>
        <th scope="col">メールアドレス</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.user_no %></th>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>