<% if flash[:notice] %>
  <div class="notication is-info">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="notication is-danger">
    <p class="alert"><%= alert %></p>
  </div>
<% end %> 