<% if flash[:notice] %>
  <div class="notication is-info">
    <p class="notice text-white bg-success"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="notication is-danger">
    <p class="alert text-white bg-danger"><%= alert %></p>
  </div>
<% end %> 